* {
    user-select: none;
}

#block_11 {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#begening {
    width: max-content;
    margin-right: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#begening h1 {
    font-size: 50px;
    text-shadow: 5px 5px 10px black;
    z-index: 5;
}
:root {
    --x: 45deg;
}

#open {
    position: relative;
    width: 250px;
    height: 65px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px black;
}

#open:active {
    background-color: #fff;
}
#fon_1 {
    position: absolute;
    inset: -2px;
    display: block;
    border-radius: 5px;
    background: linear-gradient(var(--x), #00ccff, transparent, transparent, #d400d4);
    filter: blur(1px);

}
#open #new_page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 30);
    border-radius: 3px;
    font-size: 35px;
    letter-spacing: 2px;
    border: none;
    color: white;
    overflow: hidden;
}

#new_page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.02);
    transform: skew(25deg);
}

#body {
    margin: 0 auto;
    border-bottom: 3px solid #949494;
    border-top: 3px solid #949494;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#block_1 {
    width: 100vw;
}

.chemistry {
    min-width: 800px;
    height: 50px;
    position: absolute;
    margin: 50px 130px;
    color: transparent;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    transition: 1s cubic-bezier(0.0005, -0.0005, 0.0005, 0.0005);
}

#block_13_1 {
    color: white;
}

#block_14 {
    --c: #000;
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 170px 30px;
    color: transparent;
    font-size: 40px;
    text-align: center;
    text-shadow: 10px 10px 10px var(--c);
}

#block_14_1 {
    color: #fff;
}

#block_14_1, #block_14_2, #block_14_3, #block_14_4 {
    position: absolute;
    transition: 1s cubic-bezier(0.0005, -0.0005, 0.0005, 0.0005);
}

.geometry {
    width: 200px;

}

.physics {
    width: 250px;
    height: 50px;
    position: absolute;
    float: right;
    right: 0;
    margin: 20px;
    color: transparent;
    font-size: 40px;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    transition: 1s cubic-bezier(0.0005, -0.0005, 0.0005, 0.0005);
}

#block_16_1 {
    color: white;
    transition: 1s cubic-bezier(0.0005, -0.0005, 0.0005, 0.0005);
}

#block_2 {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: black;
    color: white;
    box-shadow: 1px -0px 10px 0vh rgb(173, 173, 173) ;
    border-radius: 2vh;
    width: 500px;
    padding: 2vh;
    text-align: justify;
    display: flex;
}

#block_3 {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-right: 20px;
}

#block_3 button {
    margin: 0 10px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: -2px -2px 2px black, 2px 2px 2px black;
} 

#block_3 button:active {
    color: #cfcfcf;
}

#indecators {
    display: flex;
    flex-direction: row;
}

.indecator {
    height: 5px;
    width: 15px;
    background-color: #ffffff33;
    margin: 10px;
    border-radius: 30%;
}

#indecator_1, #indecator_2, #indecator_3, #indecator_4 {
    height: 5px;
    width: 15px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 30%;
    transition: 0.4s;
    box-shadow: -1px -1px 3px black, 1px 1px 3px black;
}

#indecator_2 {
    background-color: #ffffff33;
}

#indecator_3 {
    background-color: #ffffff33;
}

#indecator_4 {
    background-color: #ffffff33;
}

#indecator_5 {
    background-color: #ffffff33;
}

#indecator_6 {
    background-color: #ffffff33;
}

#slide_1 {
    display: flex;
    flex-direction: row;
}

#slide {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: -2px -2px 2px black, 2px 2px 2px black;
}

#block {
    margin-top: 19vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 30px;
}

hr {
    width: 70vw;
    margin: 80px auto;
}

#vr_2 {
    display: flex;
    justify-content: center;
    width: auto;
}

.container {
    margin-left: 50vw;
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    z-index: -10;
}

.container::before {
    content: '';
    width: 5vh;
    height: 5vh;
    position: absolute;
    background-color: black;
    box-shadow: inset 0 0 10px white,  -1px -1px 20px rgba(255, 255, 255, 0.500), 1px 1px 20px rgb(255, 255, 255, .500);
    border-radius: 50%;
}

.ring {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
}

.ring_1 {
        --color: #40ff9c;
    width: 100%;
    height: 100%;
    border-bottom: 10px solid var(--color);
    border-top: 10px solid var(--color);
    border-radius: 50%;
    animation: ring1 2s linear infinite;
    position: absolute;
    box-shadow: -5px -5px 3px #55ffa75e, 5px 5px 3px #55ffa75e;
    filter: blur(1px);

}

@keyframes ring1 {
    0% {
        transform: rotateY(70deg) rotateZ(0deg);
    }
    100% {
        transform: rotateY(70deg) rotateZ(360deg);
    }
}


.ring_2 {
    --color: #40ff;
    width: 100%;
    height: 100%;
    border-left: 10px solid var(--color);
    border-right: 10px solid var(--color);
    border-radius: 50%;
    animation: ring2 2s linear infinite;
    filter: drop-shadow(0 0 10px solid var(--color));
    position: absolute;
    box-shadow: -5px -5px 3px rgba(80, 16, 255, 0.432), 5px 5px 3px rgba(80, 16, 255, 0.432);
    filter: blur(1px);

}

@keyframes ring2 {
    0% {
        transform: rotateX(70deg) rotateY(25deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(70deg) rotateY(25deg) rotateZ(360deg);
    }
}

.ring_3 {
    --color: #6c00c5;
    width: 100%;
    height: 100%;
    border-left: 10px solid var(--color);
    border-right: 10px solid var(--color);
    border-radius: 50%;
    animation: ring3 2s linear infinite;
    filter: drop-shadow(0 0 10px solid var(--color));
    position: absolute;
    box-shadow: -5px -5px 3px #7800db7e, 5px 5px 3px #7800db81;
    filter: blur(1px);

}

@keyframes ring3 {
    0% {
        transform: rotateX(70deg) rotateY(-25deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(70deg) rotateY(-25deg) rotateZ(360deg);
    }
}

.pendulum {
    display: flex;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    margin-left: 20px;
}

.pendulum_wrapper {
    margin: 0 auto;
    transform: rotateZ(45deg);
    transform-origin: center top;
    animation: pendulum 2s infinite alternate ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes pendulum {
    0% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(-45deg);
    }
}

.cord {
    margin: 0 auto;
    min-height: 500px;
    width: 0.1em;
    background: rgb(0, 0, 0);
    box-shadow: 1px 1px 10px 1px;
}

.sfera {
    width: 85px;
    height: 85px;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 10px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.sfera::before {
    content: '';
    position: relative;
    top: 40%;
    right: 0.5em;
    width: 0.5em;
    height: 0.2em;
    background-color: #ffffff;
    filter: blur(0.2em);
}

.sfera::after {
    content: '';
    position: relative;
    bottom: 40%;
    left: 0.5em;
    width: 0.5em;
    height: 0.2em;
    background-color: #ffffff;
    filter: blur(0.2em);
}

.sfera_b {
    width: 65px;
    height: 65px;
    position: absolute;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    border-radius: 50%;
    border: 1px solid #616154;
    z-index: 10;
}

.sfera_in {
    width: 75px;
    height: 75px;
    position: absolute;
    border-radius: 50%;
    border-bottom: 1px solid #3d3d3d;
}

.sfera_out {
    width: 10vw;
    height: 10vw;
    position: absolute;
    border-radius: 50%;
    border-bottom: 1px solid #464646;
    background-color: #ffffffc2;
    opacity: .25;
    filter: blur(3em);
}

#zac {
    display: flex;
    top: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000000;
    border: 1px solid white;
    border-bottom: none;
    box-shadow: 3px 3px 10px 3px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#imeg {
    display: flex;
    margin: 1.5vw;
    width: 160px !important;
    height: 170px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    overflow: hidden;
    flex-direction: column;
    box-shadow: 3px 3px 10px 3px;
    flex-basis: 25%;

}

#imeg.frl {
    width: 160px;
    display: flex;
}

#sl {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    text-align: center;
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    order: 1;
    padding: 1px;
    color: white;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 55), rgb(0, 0, 75), rgb(0, 0, 55), rgb(0, 0, 0)) !important;
}

#imeg:hover > #sl {
    transform: translateY(-85%);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: -1px 3px 10px #000000;
}

#block_12 {
    order: 2;
    display: none;
    transition: 3s;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(0, 0, 230), black);
    color: white;
}

#block_12 a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

#imeg:hover > #block_12 {
    display: flex;
    transition: 0.5s;
    margin-top: -50px;
    margin-bottom: 50px;
}

#gran {
    margin: 10px auto;
    height: 220px;
    width: 890px;
    display: flex;
    overflow-y: auto;
    /* flex-direction: column; */
}

#gran::-webkit-scrollbar {
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
}

#gran::-webkit-scrollbar-track {
    border-radius: 5px;
}

#gran::-webkit-scrollbar-thumb {
    background: #ffffff;
}

#gran::-webkit-scrollbar-corner {
    max-height: 10px;

}

#block_8 {
    background-color: transparent;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    height: 52px;
    display: flex;
    width: auto;
}

#block_9 {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#block_9 .first_1 {
    border-top-left-radius: 13px;
    background-color: transparent;
    color: white;
    box-shadow: none;
}

#block_9 .last_1 {
    border-top-right-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block_9 li {
    display: inline-block;
}

.unit_1 {
    height: 52px;
    font-size: 18px;
    background-color: #ffffff;
    border: 0;
    box-shadow: 0px 16px 48px  #2e364330;
    transition: 0.5s;
    padding: 0 20px;
    color: rgb(0, 0, 0);
}

#algebra {
    border-bottom-left-radius: 15px;
}

#less {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 20px;
    padding-bottom: 10px;
    width: 900px;
    box-shadow: 5px 5px 10px 5px #000000, -5px -5px 10px -5px #000000;
}

#search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

#srh {
    width: 15px;
    height: 15px;
}

#search_block {
    width: 800x;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pole {
    border-radius: 1vh;
    display: flex;
    font-size: 16px;
    float: right;
    width: 310px;
    /* margin-left: 20px; */
}

#pole_1 {
    display: flex;
    flex-direction: row;
}

#pole_1_2 {
    display: flex;
    flex-direction: row-reverse;
}

#pole_2, #pole_3, #pole_4, #pole_5, #pole_6 {
    display: none;
    flex-direction: row;
}

#pole_2_2, #pole_3_2, #pole_4_2, #pole_5_2, #pole_6_2 {
    display: none;
    flex-direction: row-reverse;

}


@media screen and (max-width: 1950px) {
    .cord {
        min-height: 700px;
    }
    .sfera {
        width: 105px;
        height: 105px;
    }
    .sfera_b {
        width: 85px;
        height: 85px;
    }
    .sfera_in {
        width: 95px;
        height: 95px;
    }
    #zac {
        width: 30px;
        height: 30px;
    }
    .chemistry {
        font-size: 55px;
        width: 1200px;
        margin: 30px;
    }
    #block_14 {
        font-size: 55px;
        width: 310px;
        margin: 220px 30px;
    }
    #block_15 {
        font-size: 55px;
        width: 800px;
        margin-top: 500px;
    }
    #block_16 {
        font-size: 55px;
        width: 200px;
        margin: 55px;
    }
    .container {
        width: 650px;
        height: 650px;
    }
    #open {
        width: 320px;
        height: 85px;
    }
    #open #new_page {
        font-size: 50px;
        text-decoration: none;
    }
    #begening h1 {
        font-size: 60px;
    }
    #block_2 {
        width: 650px;
        font-size: 20px;
    }
    #slide {
        width: 700px;
        height: 350px;
    }
} 

@media screen and (max-width: 1550px) {
    #block {
        flex-direction: row;
    }
    .cord {
        min-height: 700px;
    }
    .chemistry{
        margin-left: -30px;
        font-size: 40px;
    }
    .sfera {
        width: 85px;
        height: 85px;
    }
    .sfera_b {
        width: 65px;
        height: 65px;
    }
    .sfera_in {
        width: 75px;
        height: 75px;
    }
    #zac {
        width: 30px;
        height: 30px;
    }
    #block_13 {
        font-size: 40px;
        width: 700px;
    }
    #block_14 {
        font-size: 40px;
        width: 200px;
        margin: 170px 30px;
    }
    #block_15 {
        font-size: 40px;
        width: 500px;
    }
    #block_16 {
        margin: 30px;
        margin-right: -100px;
    }
    .container {
        width: 500px;
        height: 500px;
        margin-top: -20px;
    }
    #open {
        width: 250px;
        height: 65px;
    }
    #open #new_page {
        font-size: 35px;
        text-decoration: none;
    }
    #begening h1 {
        font-size: 50px;
    }
    #block_2 {
        width: 500px;
        font-size: 20px;
    }
    #slide {
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width: 1150px) {
    #block {
        flex-direction: column-reverse;
        margin: 50px;
        height: max-content;
    }
    hr {
        margin-top: 0;
        margin-bottom: 50px;
    }
    #block_3 {
        display: flex;
        float: left;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
    }
    #block_2 {
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: black;
        color: white;
        margin: 0 !important;
        box-shadow: 1px -0px 10px 0vh rgb(173, 173, 173) ;
        border-radius: 15px;
        width: 900px;
        padding: 2vh;
        text-align: justify;
        display: flex;
    }
    .physics {
        display: none;
    }
    #gran {
        min-height: 200px !important;
    }
    .unit_1 {
    height: 52px !important;
    font-size: 18px;
    background-color: #ffffff;   
    border: 0;
    box-shadow: 0px 16px 48px  #2e364330;
    transition: 0.5s;
    padding: 0 20px;
    color: rgb(0, 0, 0);
    }
    #block_9 .first_1 {
        border-top-left-radius: 15px;
        background-color: transparent;
        color: white;
        font-size: 20px;
        box-shadow: none;
    }
    
    #block_9 .last_1 {
        border-top-right-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 950px) {
    #block {
        margin: 0px;
    }
    .chemistry {
        width: 450px !important;
    }
    .physics {
        display: block;
        margin-right: 50px !important;
    }
    #block_11 {
        height: 50vh;
    }
    #begening {
        margin-bottom: -150px;
    }
    #begening h1 {
        font-size: 30px;
    }
    #open {
        width: 150px;
        height: 45px;
        margin-right: -100px;
    }        
    #open #new_page {
        font-size: 22px;
    }
    #block_1 {
        width: 100vw;
    }
    .chemistry {
        /* display: none; */
        min-width: 400px;
        width: 400px;
        margin: 30px 50px !important;
        font-size: 22px;
        margin: 0;
        right: 0;
    }
    #block_14 {
        width: 30px;
        height: 70px;
        margin: 55px 50px;
        font-size: 24px;
    }
    
    .geometry {
        width: 110px;
        z-index: -5;
    }
        
    .physics {
        width: 150px;
        height: 50px;
        margin-top: 200px;
        margin-right: -20px;
        font-size: 24px;
    }
        
    #block_2 {
        font-size: 14px;
        background-color: black;
        width: 100vw;
        padding: 20px;
        border-radius: none;       
        box-shadow: none;
    }        
    #block_3 {
        height: 20vh;
        display: none;
    }  
    #block {
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    hr {
        display: none;
    }
    .container {
        margin: 0 auto;
        height: 99vw;
        width: 99vw;
    }    
    .pendulum {
        margin-left: 15px;    }
    
    .pendulum_wrapper {
        animation: pendulum 3s infinite alternate ease-in-out;
    }    
    .cord {
        min-height: 900px;
    }
        
    #imeg {
        max-width: 125px !important;
        min-width: 125px !important;
        height: 130px;
        border-radius: 0;
        border: 1px solid rgb(255, 255, 255);
        font-size: 14px;
    }    
      
    #imeg:hover > #block_12 {
        display: flex;
        transition: 0.5s;
        margin-top: -50px;
        margin-bottom: 50px;
    }
    
    #gran {
        margin: 10px auto;
        height: 160px;
        width: 100vw;
        display: flex;
        padding: 10px;
        overflow-y: auto;
        /* flex-direction: column; */
    }
    
    #gran::-webkit-scrollbar {
        height: 3px;
        background-color: #ffffff;
        border-radius: 50%;
    }
    
    #gran::-webkit-scrollbar-track {
        border-radius: 5px;
    }
    
    #gran::-webkit-scrollbar-thumb {
        background: #ffffff;
    }
    
    #gran::-webkit-scrollbar-corner {
        max-height: 5px;
    
    }
                    
    #block_8 {
        height: 22px;
    }
    
    #block_9 {
        width: 100vw;
        background-color: transparent !important;
    }
    
    #block_9 .first_1 {
        border-top-left-radius: 0;
        background-color: transparent;
        color: white;
        font-size: 20px;
        box-shadow: none;
    }
    
    #block_9 .last_1 {
        border-top-right-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #block_9 li {
        display: inline-block;
    }
    
    .unit_1 {
        display: none;
        height: 22px;
        font-size: 14px;
        background-color: #ffffff;
        border: 0;
        box-shadow: 0px 16px 48px  #2e364330;
        transition: 0.5s;
        padding: 0 ;
    }
    
    #algebra {
        border-bottom-left-radius: 15px;
        background-color: white !important;
    }
    
    #less {
        margin-bottom: 0;
        border: 0;
        border-top: 2px solid grey;
        border-radius: 0;
        padding-bottom: 0;
        width: 100%;
        box-shadow: 0 transparent;
    }
    
    #search {
        background-color: transparent !important;
    }
    
    #search_block {
        width: 200x;
        background-color: transparent !important;
    }
    
    #pole {
        width: 50vw;
    }

    #all {
        display: block;
        background-color: transparent !important;
        color: white !important;
    }
}
@media screen and (max-width: 950px) {
    .unit_1 {
        display: block;
        background-color: transparent !important;
        color: white !important;
        margin-right: 5px;
        box-shadow: none;
    }
    #algebra {
        background-color: transparent !important;
        color: white !important;
    }
    #gran::-webkit-scrollbar {
        height: 10px;
    }
    #less {
        padding: 20px 0;
        box-shadow: none;
        margin: 0;
        margin-bottom: 30px;
    }    
    #gran {
        height: 170px;
    }
}

@media screen and (max-width: 700px) {
    .unit_1 {
        display: none;
    }
    #gran {
        min-height: 150px !important;
    }
    #gran::-webkit-scrollbar {
        height: 3px;
    }
    .pendulum {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 200px;
        height: 200px;
        /* margin-top: -250px;
        margin-right: -120px; */
        top: 50px;
        right: 30px;
    }
    #block_11 {
        height: 50vh;
    }
    .container::before {
        width: 3vh;
        height: 3vh;
    }
}