#pole {
    width: 330px;
}



@media screen and (max-width: 350px) {
    #pole {
        /* width: auto !important; */
        width: 250px;
    }

    #body {
        font-size: 10px !important;
    }
}