#vr_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

#block_2 {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: white;
    box-shadow: 1px -0px 10px 0vh rgb(173, 173, 173) inset, 2px 2px 10px 2px, -2px -2px 10px -2px;
    border-radius: 2vh;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    padding: 2vh;
    text-align: justify;
    display: flex;
    margin: 100px auto;
}


/* *{
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}

html {
    background-size: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 20), rgb(0, 0, 30), rgb(0, 0, 20), rgb(0, 0, 0)) !important;
}

html body {
    margin: 0;
    padding: 0;
}

#vr {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 28), rgb(0, 0, 0)) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    height: 4vh;
}

#block_1 {
    width: 100vw;
}

#zagalovok {
    list-style: none;
    padding: 0;
    float: right;
}

#name {
    float: left;
    font-size: 3vh;
    color: white;
}

#zagalovok li {
   display: inline-block;
   padding: 0 0.5vw;
   text-align: left;
   width: 7vh;
   margin-left: 15px;
}

#zagalovok li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 2vh;
    width: 7vh;
}

#zagalovok li a:hover {
    text-shadow: -1px 1px 10px rgb(0, 0, 0);
    line-height: 100%;
    transition: 0.5s;
    border-bottom: 1px solid white;
}

#vr_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

#block_2 {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: white;
    box-shadow: 1px -0px 10px 0vh rgb(173, 173, 173) inset, 2px 2px 10px 2px, -2px -2px 10px -2px;
    border-radius: 2vh;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    padding: 2vh;
    text-align: justify;
    display: flex;
    margin: 100px auto;
}

#end {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    color: #fff;
}

#end #ending {
    display: flex;
    list-style: none;
    margin-right: 3vh;
}

#end #ending li {
    padding: 0 5px;
    margin-right: 150px;
}

#end #ending li h3 {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#end #ending li a:hover {
    text-shadow: -1px 1px 10px rgb(255, 255, 255);
    transition: 0.3s;
    color: blue;
}

#end #ending li a:active {
    color: red;
}

#kontacts {
    display: flex;
}

#kontacts ul {
    width: 300px;
}

#kontacts ul li {
    width: 250px;
} */