{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ formula.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles/css_8.css' %}">
{% endblock %}

{% block body %}
    <div id="block_2">
        <h1>{{ formula.name }}</h1>
            <h2><div id="fm"><pre>{{ formula.formula | safe}}</pre></div></h2><hr>           
    </div>
    <!-- Yandex.RTB R-A-6588087-3 -->
    <div id="yandex_rtb_R-A-6588087-3"></div>
    <script>
        window.yaContextCb.push(()=>{
            Ya.Context.AdvManager.render({
                "blockId": "R-A-6588087-3",
                "renderTo": "yandex_rtb_R-A-6588087-3",
                "type": "feed"
            })
        })
    </script>
{% endblock %}

{% block javascript %}{% endblock %}