{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Portfolio{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles/css_1.css' %}">
{% endblock %}

{% block body %}
    <div class="pendulum">
        <div class="pendulum_wrapper">
            <div id="zac"></div>
            <div class="cord"></div>
            <div class="sfera">
                <div class="sfera_b"></div>
                <div class="sfera_out"></div>
                <div class="sfera_in"></div>
            </div>
        </div>
    </div>
    <div id="block_13_1" class="chemistry">C<sub>n</sub>H<sub>2n+2</sub> + (3n+1)/2O<sub>2</sub> = nCO<sub>2</sub> + (n+1)H<sub>2</sub>O</div>
    <div id="block_13_2" class="chemistry">C<sub>n</sub>H<sub>2n</sub> + 3n/2O<sub>2</sub> = nCO<sub>2</sub> + H<sub>2</sub>O</div>
    <div id="block_13_3" class="chemistry">C<sub>n</sub>H<sub>2n-2</sub> + (3n-1)/2O<sub>2</sub> = nCO<sub>2</sub> + (n-1)H<sub>2</sub>O</div>
    <div id="block_13_4" class="chemistry">C<sub>n</sub>H<sub>2n-6</sub> + 3n/2O<sub>2</sub> = nCO<sub>2</sub> + H<sub>2</sub>O</div>
    <div id="block_14">
        <div id="block_14_1" class="geometry">sin(a + b) = sina*cosb + sinb*cosa</div>
        <div id="block_14_2" class="geometry">sin(a - b) <br>=<br> sina*cosb <br>-<br> sinb*cosa</div>
        <div id="block_14_3" class="geometry">cos(a + b) = cosa*cosa <br>-<br> sinb*sinb</div>
        <div id="block_14_4" class="geometry">cos(a - b) = cosa*cosa <br>+<br> sinb*sinb</div>
    </div>
    <div id="block_16">
        <div id="block_16_2" class="physics">F<sub>a</sub> = ρgV</div>
        <div id="block_16_4" class="physics">F = ma</div>
        <div id="block_16_3" class="physics">F = mg</div>
        <div id="block_16_1" class="physics">F = -kx</div>
    </div>
    <div id="block_11">
        <div class="container">
            <div class="ring ring_1"></div>
            <div class="ring ring_2"></div>
            <div class="ring ring_3"></div>
        </div>
        <div id="begening">
            <h1>Твой онлайн</h1>
            <div id="open" href="#">
                <i id="fon_1"></i>
                <i id="fon_2"></i>
                {% if user.is_authenticated %}
                    <a id="new_page" href="{% url 'personal_area' %}">Портфель</a>
                {% else %}
                    <a id="new_page" href="{% url 'login' %}">Портфель</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="body">
        <div id="block">
            <div id="block_3">
                <div id="slide_1">
                    <button onclick="left()"><</button>
                    <img id="slide" src="static/main/images/1.png" alt="">
                    <button onclick="right()">></button>
                </div>
                <div id="indecators">
                    <div id="indecator_1"><span></span></div>
                    <div id="indecator_2"><span></span></div>
                    <div id="indecator_3"><span></span></div>
                    <div id="indecator_4"><span></span></div>
                </div>
            </div>
            <div id="block_2">
                Добро пожаловать на наш сайт, где вы найдёте полезные формулы по алгебре, физике, геометрии и химии! 
                Мы собрали для вас все самие необходимые формулы, которые помогут вам успешно решать задачи. 
                Но сайт был создан в основном для школьников так чо мы ограничилис школними материялми. 
                Если вы не нашли нужную формулу то всегда можете написать нам и мы добавим её. 
                Ещё вы можете решать задачи на форуме вместе с другими ползователями или просто обсудить что нибуд, расказать какыето интересные факти.
            </div>
        </div>
        <hr>
        <div id="less">
            <div id="block_8">
                <ul id="block_9">
                    <li><button onclick="alll()" class="unit_1 first_1" id="all">Все</button></li>
                    <li><button onclick="algebra()" class="unit_1" id="algebra">Алгебра</button></li>
                    <li><button onclick="geometry()" class="unit_1" id="geometry">Геометрия</button></li>
                    <li><button onclick="physics()" class="unit_1" id="physics">Физика</button></li>
                    <li><button onclick="chemrstry()" class="unit_1" id="chemrstry">Химия</button></li>
                    <li>
                        <div id="search_block" class="unit_1 last_1"><button onclick="search()" id="search">
                            <input id="pole" type="search">
                        </button>
                        <button onclick="find()">O</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="gran">
                <div id="pole_1">{% for el in formula %}
                    <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div>{% endfor %}</div>
                <div hidden id="pole_2">{% for el in formula %}{% if el.category == 'Алгебра'%}
                    <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_3">{% for el in formula %}{% if el.category == 'Геометрия'%}
                    <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_4">{% for el in formula %}{% if el.category == 'Физика'%}
                    <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_5">{% for el in formula %}{% if el.category == 'Химия'%}
                    <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_6">{% for el in formula %}
                    <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name}}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endfor %}</div>
            </div>
            <div id="gran">
                <div id="pole_1_2">{% for el in formula %}
                    <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div>{% endfor %}</div>
                <div hidden id="pole_2_2">{% for el in formula %}{% if el.category == 'Алгебра'%}
                    <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_3_2">{% for el in formula %}{% if el.category == 'Геометрия'%}
                    <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_4_2">{% for el in formula %}{% if el.category == 'Физика'%}
                    <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_5_2">{% for el in formula %}{% if el.category == 'Химия'%}
                    <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
                <div hidden id="pole_6_2">{% for el in formula %}
                    <div id="imeg"><div id="sl">{{ el.name}}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endfor %}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}<script onload="start()" src="{% static 'main/javascript/js_1.js' %}"></script>{% endblock %}