{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Portfolio - посты{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles/css_4.css' %}">
{% endblock %}

{% block body %}
    <div id="block_2">
        <h1>Посты</h1>
        <div id="ins">
            {% if user.is_authenticated %}
                <h3 id="btt"><a href="{% url 'add_post' %}">+ Добавить пост</a></h3>
            {% else %}
            <h3 id="btt">Чтобы добавить пост<a href="{% url 'login' %}">зарегистрируйтесь</a></h3>
            {% endif %}
            Приветствуем на форуме. Здесь вы можете решать задачи вместе с другими пользователями, которые не смогли решить сами, задавать вопросы, поделиться советом и т.д. Также помогайте другим, и для вас это будет полезно, и они смогут чему-то научиться.
        </div>
    </div>
    {% for el in posts %}
        <div class="post">
            <h2>{{ el.name }}</h2>
            <hr>
            <div class="txt">
                <p>{{ el.content }}</p>
            </div>
            <div id="information">
                {{ el.date }}
                <a href="{% url 'post' el.id %}" class="detailes">Подробнее</a>
            </div>
        </div>
        <!-- Yandex.RTB R-A-6588087-2 -->
        <script>
            window.yaContextCb.push(()=>{
                Ya.Context.AdvManager.render({
                    "blockId": "R-A-6588087-2",
                    "type": "rewarded",
                    "platform": "desktop"
                })
            })
        </script>
    {% endfor %}
{% endblock %}

{% block javascript %}{% endblock %}

