{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles/css_2.css' %}">
{% endblock %}
{% block body %}
<div id="less">
    <div id="block_10">            
        <button onclick="algebra()" class="unit_2">Алгебра</button>
        <button onclick="geometry()" class="unit_2">Геометрия</button>
        <button onclick="physics()" class="unit_2">Физика</button>
        <button onclick="chemrstry()" class="unit_2">Химия</button>
    </div>
    <div id="block_8">
        <ul id="block_9">
            <li><button onclick="alll()" class="unit_1 first_1" id="all">Все</button></li>
            <li><button onclick="algebra()" class="unit_1" id="algebra">Алгебра</button></li>
            <li><button onclick="geometry()" class="unit_1" id="geometry">Геометрия</button></li>
            <li><button onclick="physics()" class="unit_1" id="physics">Физика</button></li>
            <li><button onclick="chemrstry()" class="unit_1" id="chemrstry">Химия</button></li>
            <li>
                <div id="search_block" class="unit_1 last_1"><button onclick="search()" id="search">
                    <input id="pole" type="search">
                </button>
                <button onclick="find()">O</button>
                </div>
            </li>
        </ul>
    </div>
    <div id="gran">
        <div id="pole_1">{% for el in formula %}
            <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div>{% endfor %}</div>
        <div hidden id="pole_2">{% for el in formula %}{% if el.category == 'Алгебра'%}
            <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_3">{% for el in formula %}{% if el.category == 'Геометрия'%}
            <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_4">{% for el in formula %}{% if el.category == 'Физика'%}
            <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_5">{% for el in formula %}{% if el.category == 'Химия'%}
            <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_6">{% for el in formula %}
            <div class="frl" id="imeg"><div class="frl_2" id="sl">{{ el.name}}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endfor %}</div>
    </div>
    <div id="gran">
        <div id="pole_1_2">{% for el in formula %}
            <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div>{% endfor %}</div>
        <div hidden id="pole_2_2">{% for el in formula %}{% if el.category == 'Алгебра'%}
            <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_3_2">{% for el in formula %}{% if el.category == 'Геометрия'%}
            <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_4_2">{% for el in formula %}{% if el.category == 'Физика'%}
            <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_5_2">{% for el in formula %}{% if el.category == 'Химия'%}
            <div id="imeg"><div id="sl">{{ el.name }}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endif %}{% endfor %}</div>
        <div hidden id="pole_6_2">{% for el in formula %}
            <div id="imeg"><div id="sl">{{ el.name}}</div><button id="block_12"><a href="{% url 'formula' el.id %}">Окрыть</a></button></div> {% endfor %}</div>
    </div>
</div>
<div id="block_2">
    
    <div id="ins">
        <h1>Мои посты</h1>
    </div>
    <h3 id="btt"><a href="{% url 'add_post' %}">+ Добавить пость</a></h3>
</div>

{% for item in post %}
    {% if item.author == user.username %}
        <div class="post">
            <h2>{{ item.name }}</h2>
            <hr>
            <div id="information">
                {{ item.date }}
                <div>
                    <a href="{% url 'post' item.id %}" class="detailes">Подробнее</a>
                    <a href="{% url 'update' item.id %}" class="update">Изменить</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
    <!-- <div>
        <embed id="block_7" width="100%" height="100%" 
        src="{% static '' %}" type="application/pdf" >
    </div> -->
{% endblock %}
{% block javascript %}<script src="{% static 'main/javascript/js_2.js' %}"></script>{% endblock %}