{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Посты{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/styles/css_4.css' %}">
{% endblock %}

{% block body %}
    <div id="block_2">
        <h1>Посты</h1>
        <div id="ins">
            <h3 id="btt"><a href="{% url 'add_post' %}">+ Добавить пость</a></h3>
            Приветствуем на форуме. Здес вы можете решать задачи вместе с другими пользователями, которые не смогли решить сами, задавать вопросы, поделиться советом и тд. 
            Также помогайте другим, и для вас это будеть полезно и они смогут чемуто научиться. 
        </div>
    </div>
    {% for el in posts %}
        <div class="post">
            <h2>{{ el.name }}</h2>
            <hr>
            <div class="txt">
                <p>{{ el.content }}</p>
            </div>
            <div id="information">
                {{ el.date }}
                <a href="{% url 'post' el.id %}" class="detailes">Подробнее</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascript %}{% endblock %}

