{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'main/styles/layout.css' %}">
    <link rel="shortcut icon" type="images/png" href="{% static 'main/images/p.ico' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav id="vr">
        <h3 id="name"><div id="mb"><img id="menu_burger" src="{% static 'main/images/menu.png'%}" alt=""> Portfolio</div>
        <ul id="menu">
            <li id="home"><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'posts' %}">Форум</a></li>
            <li>{% if user.is_authenticated %}
                <a href="{% url 'personal_area' %}">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}</li>
            <li><a href="{% url 'logout' %}"><img id="exit" src="{% static 'main/images/exit.png'%}" alt=""></a></li>
            <hr id="hr">
        </ul></h3>
        <div id="block_1">
            <div id="zagalovok">
                <a class="hidd" href="{% url 'home' %}">Главная</a>
                <a  class="hidd" href="{% url 'posts' %}">Форум</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'personal_area' %}">{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                {% endif %}
                <a  class="hidd" href="{% url 'logout' %}"><img id="exit_2" src="{% static 'main/images/exit.png'%}" alt=""></a>
            </div>
        </div>
    </nav>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <div id="vr_2">
        <div id="end">
            <ul id="ending">
                <li id="me">
                    <h3>О сайте</h3>
                    <span id="sp">На сайте находятся формулы по алгебре, геометрии, физике и химии.</span>
                </li>
                <li>
                    <h3>Контакты</h3>
                    <div id="kontacts">
                        <ul>
                            <li>Эл.почта: <a href="mailto:portfolio.io.001@gmail.com">portfolio@gmail.com</a></li>
                        </ul>   
                    </div> 
                </li>
                <!-- <li id="reck"><h3>Реклама</h3>
                    <ul>
                        <li></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
    {% block javascript %}{% endblock %}"
</body>
</html>